@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bodyBackground {
  position: relative;
  min-height: 100vh; /* Use min-height instead of height */
  width: 100vw;
  overflow: hidden; /* Ensures no overflow from the background */
}

.bodyBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/dndBattle.jpg'); /* thank you chatGPT for drawing me another background */
  background-size: cover;
  background-position: center;
  opacity: .7;
  z-index: -1;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
